registry=https://pkgs.dev.azure.com/GoMyCode-Team/X/_packaging/npm-packages-feed/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/GoMyCode-Team/X/_packaging/npm-packages-feed/npm/registry/:username=GoMyCode-Team
//pkgs.dev.azure.com/GoMyCode-Team/X/_packaging/npm-packages-feed/npm/registry/:_password=[dXZhcWtzc2pzdnA1emJycGVlNTdlbm8zY2FjNmhoNzdlNTV3Z2N6dmVsbzdweGdnZWNxcQ==]
//pkgs.dev.azure.com/GoMyCode-Team/X/_packaging/npm-packages-feed/npm/registry/:email=ilen.slimen@gomycode.co
//pkgs.dev.azure.com/GoMyCode-Team/X/_packaging/npm-packages-feed/npm/:username=GoMyCode-Team
//pkgs.dev.azure.com/GoMyCode-Team/X/_packaging/npm-packages-feed/npm/:_password=[dXZhcWtzc2pzdnA1emJycGVlNTdlbm8zY2FjNmhoNzdlNTV3Z2N6dmVsbzdweGdnZWNxcQ==]
//pkgs.dev.azure.com/GoMyCode-Team/X/_packaging/npm-packages-feed/npm/:email=ilen.slimen@gomycode.co
; end auth token